*{
    	box-sizing: border-box;
    	font-size: 20px;
	font-style: sans-serif;
}
h1{
	text-align: center;
	color: black;
	font-size: 35px
}
p{
	margin-top : 0px;
	padding: 4px; 
	border: 2px solid black;
	border-right: transparent;
	border-top: transparent;
	float: right;
	font-size: 25px;
}
p.a{
	background-color: black;
	color: green;
}
p.b{
	background-color: blue;
	color: black;
}
p.c{
	background-color: red;
	color: black;
}
article{
	clear: right;
	padding: 2%;
}
/********** For Desktops ONLY **********/
@media(min-width: 992px){
    .col-lg-41, .col-lg-42, .col-lg-43{
		border: 2px solid black;
		height: 250px;
		float: left;
		padding: 20px;
		padding-top: 0px;
		padding-right: 0px;
		margin: 1%;
		width: 31.33%;
    }
    .col-lg-41{
    		background-color: gray;
    }
    .col-lg-42{
		background-color: orange;
    }
    .col-lg-43{
		background-color: brown;
    }
}
/********** For Tablets ONLY **********/
@media (min-width: 768px) and (max-width: 991px){
		.col-md-61, .col-md-62, .col-md-12{
		border: 2px solid black;
		height: 250px;
		float: left;
		padding: 20px;
		padding-top: 0px;
		padding-right: 0px;
		margin: 1%;
		width: 48%;
	}
    .col-md-61{
    		background-color: gray;
    }
    .col-md-62{
		background-color: orange;
    }
    .col-md-12{
		background-color: brown;
		width: 98%;
    }
}
/********** For Mobiles ONLY **********/
@media (max-width: 767px){
    .col-sm-121, .col-sm-122, .col-sm-123{
		border: 2px solid black;
		height: 250px;
		padding: 20px;
		padding-top: 0px;
		padding-right: 0px;
		width: 85%;
		margin: auto;
		margin-bottom: 15px;
	}
    .col-sm-121{
		background-color: gray;
    }
    .col-sm-122{
		background-color: orange;
    }
    .col-sm-123{
		background-color: brown;
    }
}
